*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.no-disp{
    display: none;
}

.disp{
    display: block;
}

#contenedor-gral{
    width: 100%;
    height: 100%;
}

#pantalla-1{
    background-color: black;
    width: 100%;
    height: 100vh;
}

#pantalla-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    color: white;
    font-weight: bolder;
    text-align: center;
    background-image: url(../imgs/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#contenido-pantalla-2{
    margin-top: 40%;
}

#pantalla-2 h1{
    font-size: 4em;
}

#pantalla-2 h3{
    font-weight:200;
}


#pantalla-2 img{
    width: 100%;
}